body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* This changes the style of the navigation bar*/
  .navbar {
    overflow: hidden;
    background-color: #333;
    border-radius: 8px;
  }
  
  /* This changes the style of the normal buttons of the navigation bar */
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* This changes the style of the dropdown menus in the navigation bar*/
  .dropdown {
    float: left;
    overflow: hidden;
  } 
  
  /* This changes the style of the dropdown menus in the navigation bar*/
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  
  /* This makes the buttons turn red when they are being hovered over */
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }
  
  /* This changes the style of the buttons in the dropdown menus*/
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* This changes the style of the text in the buttons of the dropdown menus*/
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  /* This turns the buttons in the dropdown menus grey when hovered over */
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  /* This makes dropdown menu content visible when hovered over */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* This changes the style of the search bar*/
  .navbar input[type= text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 8px;
    margin-left: 8px;
    font-size: 17px;
    width: 80px;
    border-radius: 5px;
  }

  /* This makes the account button be at the right side of the navbar */
  #accountButton {
    float: right;
  }

  /* This makes the favorites button be at the right side of the navbar */
  #favorites {
    float: right;
  }

  /* This styles the Calendar button */
  .floatingButtonCalendar {
    position: fixed; /* The element is positioned relative to the browser window and will not move even if the page is scrolled. */
    bottom: 20px;
    right: 0;
    padding: 0;
    margin: 10px;
    margin-bottom: 40px;
    color: white;
    border: none;
    cursor: pointer; /* The cursor will change to a pointer when hovering over the element. */
    width: 70px;
    height: 70px;
    border-radius: 50%; /* The 'border-radius' is set to 50%, making the element circular. */
    background-color: #aaaaaa;
    background-image: url('/static/images/calendar-icon.png');
    background-repeat: no-repeat; /* The background image will not repeat. */
    background-position: center;
    background-size: 60%;
}

/* This applies a shadow effect to the calendar button when hovered over */
.floatingButtonCalendar:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* This styles the Add button */
.floatingButtonAdd {
    position: fixed; /* The element is positioned relative to the browser window and will not move even if the page is scrolled. */
    bottom: 40px;
    right: 0;
    padding: 0;
    margin: 10px;
    margin-bottom: 100px;
    color: white;
    border: none;
    cursor: pointer; /* The cursor will change to a pointer when hovering over the element. */
    width: 70px;
    height: 70px;
    border-radius: 50%; /* The 'border-radius' is set to 50%, making the element circular. */
    background-color: #aaaaaa;
    background-image: url('/static/images/plus-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60%;
}

/* This applies a shadow effect to the Add button when hovered over */
.floatingButtonAdd:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* This changes the style of the variables displaying text in the down right corner*/
.window-size {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    border-radius: 5px;
}

/* This changes the style of the navbar when the user scrolls down (makes the navbar stay in the top of the screen rather than vanishing)*/
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* This makes the text and navbar not overlap */
.sticky + .content {
  padding-top: 60px;
} 

.sticky .dropdown-content{
  position: fixed;
}

/* Styles for FlashCardsButton class */
.FlashCardsButton {
  
  position: fixed;
  bottom: 0;
  right: 1;
  padding-top: 375px;
  padding-bottom: 70px;
  padding-left: 200px;
  padding-right: 260px;
  margin: 10px; 
  margin-bottom: 100px; 
  margin-left: 100px; 
  background-color: #aaaaaa;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 16px;  
  background-image: url('/static/images/Flashcards.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 400px 400px;
  background-position-y: 0px;
  font-size: 30px;
  white-space: nowrap;
  
}

/* Styles for FlashCardsButton class on hover */
.FlashCardsButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Styles for WordleButton class */
.WordleButton {
  position: fixed;
  bottom: 0;
  right: 1;
  padding: 230px 230px;
  padding-top: 370px;
  padding-bottom: 70px;
  padding-left: 230px;
  padding-right: 230px;
  margin: 10px;
  margin-bottom: 100px;
  margin-left: 800px; 
  background-color: #aaaaaa;
  color: white;
  border: none;
  cursor: pointer;
  width: 100px;
  border-radius: 16px;  
  background-image: url('/static/images/wordle.png');
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 70px;
  font-size: 30px;

}

/* Styles for WordleButton class on hover (shadow on hover) */
.WordleButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

/* Calendar popup styles */
/*---------------------------------*/
/* Calendar modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

/* Calendar styling */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 5px;
  border: 1px solid #888;
  width: 60%;
  max-height: 60vh; /* 80% of the viewport height */
  overflow: auto; /* Enable scroll if needed */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s;
  margin-top: 10%; /* Add a top margin */
  
}

/* Reduce the padding around the day numbers */
.fc-daygrid-day {
  padding: 1px; 
}

/* Reduce the font size of the day numbers */
.fc-daygrid-day-number {
  font-size: 0.8em; 
}

/* Reduce the padding around the day numbers */
.fc-daygrid-day-frame {
  padding: 2.5px; 
}

/* Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

select {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  margin-top: 8px;
  height: 30px;
}

/* Style for dropdown button */
button {
  font-size: 16px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Hover effect for button */
button:hover {
  background-color: #0056b3;
}

#search-container {
  
  float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#searchform {
  float: left;
  padding: 0px;
}