{% extends "MasterTemplate.html" %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/accountpage.css' %}"> 
{% endblock %}


{% block jsfile %}
<script type="text/javascript" src="{% static 'js/accountpageJS.js' %}" defer></script>
{% endblock %}


{% block content %}

<h1 style="color: blue; text-align: center; font-size: 48px; border-style:ridge; border-width: 4px;">Account</h1>

<!--form container keeps everything structured and together-->
<div class="form-container">
    <form action="" id="profileForm"> <!--makes a form which will be needed for the backend-->
        <div class="column-left" id="editableInfo"> <!--left column with all the account elements-->
            <!--Display username-->
            <label for="usernameDisplay" style="color:blue">Username:</label>
            <p id="usernameDisplay">{{ user.username }}</p>
            <!--Input for new username-->
            <input type="text" id="usernameInput" class="editable-input" placeholder="Enter new username" style="display:none;">

            <!--Display username-->
            <label for="emailDisplay" style="color:blue">Email:</label>
            <p id="emailDisplay">{{ user.email }}</p>
            <!--Input for new email-->
            <input type="email" id="emailInput" class="editable-input" placeholder="Enter new email" style="display:none;">


            {% if user.userprofile.profile_picture %}
                <!--Display profile picture-->
                <label for="profilePic" style="color:blue" >Profile Picture:</label>
                <img id="profilePic" src="{{ user.userprofile.profile_picture.url }}" alt="Profile Picture" style = "width:100px; height:auto;">
            {% endif %}
            
            <!--Input for new profile picture-->
            <input type="file" id="profilePicInput" class="editable-input" style="display:none;" accept="image/*">

            <div id="errorMessage" style="display:none; color: red;"></div>
            <div class="buttons-container">
                <button type="button" class="action-button" id="changeButton" >Change</button> <!--uses the change function to go from uneditable to editable-->
                <button type="button" class="action-button" id="saveButton">Save</button> <!--uses the Savechanges function to go from editable to uneditable and save it-->
            </div>

        </div>
    </form>
  </div>

{% endblock %}