{% extends "MasterTemplate.html" %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/FavoritesPageCss.css' %}"> 
{% endblock %}


{% block jsfile %}
<script type="text/javascript" src="{% static 'js/FavoritesPageJS.js' %}" defer></script>
{% endblock %}


{% block content %}
<h1 id="NewWordTitle">Favorites</h1>

{% for favorite in favorite_words %}
    <div class="FavoriteEntry" class="TextContainer">
        <p>{{ favorite.word }}</p>
        <p>{{ favorite.meaning }}</p>
        <!-- Add a form for delete action -->
        <form action="{% url 'delete_favorite' favorite.id %}" method="post">
            {% csrf_token %}
            <button type="submit">Delete</button>
        </form>
        <form action="{% url 'edit_word' word_id=favorite.id %}" method="get">
        {% csrf_token %}
        <button type="submit">Edit</button>
        </form>
    </div>
{% endfor %}

{% endblock %}