{% extends "MasterTemplate.html" %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/flashcardcss.css' %}"> 
{% endblock %}


{% block jsfile %}
<script type="text/javascript" src="{% static 'js/flashcardjs.js' %}" defer></script>
{% endblock %}


{% block content %}


<!--container with the flashcard information-->
<div class="flashcards">
{% if favorite_words|length == 0 %}
<div id="Message" class="Message">
    <h1>You don't have any favorite words</h1>
    <h3>Add them through the add favorites button</h3>
</div>
{% else %}
    {% for favorite in favorite_words %}
    <div class="flashcard" data-index="{{ forloop.counter }}" style="display: none;"> <!--important for the scroll function-->
        <label>
            <input type="checkbox" />
            <div class="flip-card">
                <div class="front"> <!--front of the card needed to flip it-->
                    <h1>{{ favorite.word }}</h1>
                    <p>Click for answer</p>
                </div>
                <div class="back">
                    <h1>Answer</h1> <!--back of the card neede to flip it-->
                    <hr />
                    <p>{{ favorite.meaning }}</p>
                    <hr />
                    <p class="click">Click to return</p>
                </div>
            </div>
        </label>
    </div>
    {% endfor %}
{% endif %}
</div>



<!--scroll elements-->
<button onclick="nextFlashcard()" id="nextbtn">&#8249;</button>
<button onclick="previousFlashcard()" id="previousbtn">&#8250;</button>
{% endblock %}