{% extends "MasterTemplate.html" %}
{% load static %}

{% block cssfile %}
<link rel="stylesheet" href="{% static 'css/QuizzesPageCss.css' %}"> 
{% endblock %}


{% block jsfile %}
<script type="text/javascript" src="{% static 'js/QuizzesPageJs.js' %}" defer></script>
{% endblock %}


{% block content %}

<h1 style="color: blue; text-align: center; font-size: 48px; border-style:ridge; border-width: 4px;"> Quizzes </h1>
<!--flashcard and wordle redirect page-->
<a href="{% url 'flashcards' %}" class="FlashCardsButton">Flash Cards</a>
<a href="{% url 'wordle' %}" class="WordleButton">Wordle</a>

{% endblock %}